@media screen and (max-width: 840px) {

  .row {
    width: auto;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }

  #steps .row>.left,
  #steps .row>.central {
    float: none;
    width: 100%;
  }

  img {
    height: 180px;
    max-width: 100%;
  }

  #steps .row>.right {
    float: none;
    width: 100%;
  }

  .row>.right img {
    margin-top: 30px;
  }

}


@media screen and (max-width: 420px) {

  .row {
    width: auto;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }

  #steps .row>.left,
  #steps .row>.central {
    float: none;
    width: 100%;
  }

  img {
    height: 150px;
    max-width: 100%;
  }

  #steps .row>.right {
    float: none;
    width: 100%;
    clear: both;
  }

  .row>.right img {
    margin-top: 30px;
  }

}
