@media screen and (max-width: 768px ) and (min-width: 420px) {

  * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row {
    width: auto;
    padding: 10px;
  }

  h1, h3 {
    padding: 10px 0;
  }

  div.left, div.right, div.central, .row .first, .row .second, .row .third {
    font-size: 1.8em;
    padding: 0 20px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }

  #steps .row>.left,
  #steps .row>.central {
    float: none;
    width: 100%;
  }

  img {
    height: 180px;
    max-width: 100%;
  }

  #steps .row>.right {
    float: none;
    width: 100%;
  }

  .row>.right img {
    margin-top: 50px;
  }

}


@media screen and (max-width: 420px) {

  * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row {
    width: auto;
    padding: 10%;
  }

  h1, h3 {
    padding: 10px 0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }

  #steps .row>.left,
  #steps .row>.central {
    float: none;
    width: 100%;
  }

  img {
    height: 150px;
    max-width: 100%;
  }

  #steps .row>.right {
    float: none;
    width: 100%;
    clear: both;
  }

  .row img {
    margin-top: 30px;
  }

}
